*{
	font-family:arial;
}

body{
	background-color:rgb(60,0,0);
}
h1,h2{
	color:rgb(255,99,71);
	margin-left:100px;
	font-family:verdana;
}
ul,ol,li{
	color:white;
	margin-left:50px;
}
p{
	color:white;
	margin-left:100px;
	width:900px;
}
img{
	margin-left:100px;
	width:300px;
}